body{   
    background-color: #a7a6a6;
}

.card{
    background-color: #a7a6a6;
    color: rgb(51, 48, 48);
    font-size: 20px;
    padding: 20px;
}

.card button{
    background-color: #a7a6a6;
    color: rgb(51, 48, 48);
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
}