body {
  background-color: #dedede;
}

div {
  color: rgb(211, 3, 3);
  font-size: 18px;
  width: 1000px;
}
.destaque {
  color: rgb(16, 218, 66);
  font-size: 24px;
}
.card button {
  background-color: rgb(177, 180, 178);
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}

button a {
  color: rgb(220, 217, 217);
  background-color: rgb(80, 82, 80);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: none;
  text-align: center;
  text-decoration: none;
}
