*{
    background-color: rgba(0, 255, 234, 0.61);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    border: 10px;
    border-radius: 10px;
    border-color: rgb(71, 178, 185);
    background-color: rgb(5, 179, 248);
    padding: 30px;  
    width: 90%;

}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin:20px ;
    font-weight: 600;
    background-color: rgba(228, 47, 77, 0.747);
    border-radius: 20px;
    padding: 30px;
    width: 60%;
}