* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}

nav{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
    
    
}

h2{
    background-color: #9a887a
    
}