*{
   color:white;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        }

body{
    background-color: #9a887a;
 
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #5a321b;
    padding: 4%;
    align-items: center;
    h1 {
        color: #efb3b3  ;
        font-weight: bold;
        text-align: left;
        line-height: 1.2px;
        
    }

    nav a {
        color: #efb3b3;
        text-decoration: none;
    }

    ul{
        display: flex;
        gap: 20px;
        list-style-type: none;
        text-align: right;
    }

    img{
        width: 60px;
        padding: 4px;
    }
}

.banner {


    
    h1 {
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        padding: 0;
        margin: 40px;
        width: 700px;
    }
    h2{
        font-weight: bold;
        font-size: 30px;
        padding: 40px;
        width: 900px;
    }
    p{
        font-size: 20px;
        padding: 40px;
        width: 900px;
        background-color: #5a321b;
        color: white;
    }

    .smart{
        align-items: right;
        width: 700px;
        position: right;
        display: flex;
        margin-left: 1100px;
        
    }

    .btn{
        text-align: right;
        position: right;
        display: flex;
        margin-left: 1400px;
        padding: 10px;
        background-color: #5a321b;
        color: white;
        font-weight: bold;
        
    }

    .btnSaibaMais{
   
        display: flex;
    
        padding: 10px;
        background-color: #5a321b;
        color: white;
        font-weight: bold;
        
    }
}

.clientes{
    h2{
        font-weight: bold;
        font-size: 30px;
        padding: 40px;
        width: 900px;
        text-align: center;
        position: center;

    }
    h3{
        font-weight: bold;
        font-size: 20px;
        padding: 40px;
        width: 900px;
    }
    p{
        font-size: 20px;
        padding: 40px;
        width: 900px;
        background-color: #5a321b;
        color: white;
    }
}   